<!--
Author: Angelica Yunshu Li
-->


<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{name}}'s Fall 2016</title>
	<link rel="stylesheet" type="text/css" href="/css/stylex.css">
	<!--style type="text/css" media="screen"></style>
	<style type="text/css" media="handheld"></style> 
	<script type="text/javascript"></script-->
</head>

<body>
<!-- content -->
<div class="content">
	<h1>{{name}}'s<br> Fall 2016</h1>
	<div class="container">
		<div class="header">
			<div class="navigation">
						<ul class='nav'>
							<li><a class="{{ homeactive }}" href="#">HOME</a></li>
							{% if courses %}
								{% for course in courses %}
									<li><a href="#">{{ course.upper() }}</a></li>
								{% endfor %}
							{% endif %}
						</ul>
			</div>
		</div>
		<div class="main-box">
			{% block box%}
			{% endblock %}
		</div>
    </div>
</div>

</body>