<!--
Author: Angelica Yunshu Li
-->


<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{name}}'s Fall 2016</title>
	<link rel="stylesheet" type="text/css" href="/css/stylex.css">
	<!--style type="text/css" media="screen"></style>
	<style type="text/css" media="handheld"></style-->
    <script src="/js/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">
        $(document).ready(function() {
            $("a#{{ active }}").addClass("active");
        });
    </script>
</head>


<body>
<!-- content -->
<div class="content">
	<h1>{{name}}'s<br> Fall 2016</h1>
	<div class="container">
		<div class="header">
			<div class="navigation">
						<ul class='nav'>
							<li><a id="home" href="/{{user.userid}}">HOME</a></li>
							{% if courses %}
								{% for course in courses %}
                                    {%  set course=course[0].upper() %}
									<li><a id="{{course}}" href="/{{user.userid +'/'+ course }}">{{ course }}</a></li>
								{% endfor %}
							{% endif %}
                            <li><a id="settings" href="/{{user.userid}}/settings">SETTINGS</a></li>
						</ul>
			</div>
		</div>
		<div class="main-box">
			{% block box%}
			{% endblock %}
		</div>
    </div>
</div>

</body>