{% extends "base.html" %}
{% block box %}
    {#   course page #}
    {% if active and active!="home" %}
        {% set urls = courses[active] %}
        {% for btn in urls %}
            {% set url = urls[btn] if "http" in urls[btn] else "https://"+urls[btn] %}
            <button class="hvr-rectangle-out" onclick="window.open('{{ url }}');">{{ btn }}</button>
        {% endfor %}

    {#  schedule picture for home page   #}
    {% elif active=="home" %}
        {% if user.schedule %}
            <img src="/img?img_id={{ user.key.urlsafe() }}" id="schedule" alt="schedule image">
        {% endif %}

    {% endif %}
{% endblock %}



