{% extends 'base.html' %}
{% set default_info_list = ['Course Website','Homework','Calendar','Syllabus','Grades'] %}

{% block box %}

{#    TODO: popup window for password promt #}

	<form name="update" method="post">
        <section name="course-section">
            <h1 class="section-title">Courses</h1>
            <div class="section-add hvr-rectangle-out btn" id="add-course">Add Course</div>
            {%  if not courses %}
                <table class="clear" align="center">
                    <tr>
                        <td></td>
                        <td class="title">Course ID</td>
                        <td align="left" class="url"><input name="course0" placeholder="e.g. CS125"></td>
                    </tr>
                    {% for i in range(default_info_list.length) %}
                        {% set title=default_info_list[i] %}
                        <tr>
                            <input type="hidden" name="bid0-{{ i }}" value="{{i}}">
                            <td class="delete btn" align="right"><img src="/images/delete.png" class="icon"/></td>
                            <td class="title">{{ title }}<input type="hidden" name="btn0-{{i}}" value="{{ title }}"></td>
                            <td align="left" class="url"><input class="url" name="btn_url0-{{ i }}" placeholder="{{ title + ' URL' }}" /></td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td class="add btn" align="right"><img src="/images/add.png" class="icon"/></td>
                        </tr>
                </table>
            {% else %}
                {% set i=0 %}
                {% for course in courses %}
                    {% set urls=courses[course] %}
                    <div class="clear">
                        <h2>{{course.upper()}}
                            <span class="right"><img src="/images/edit.png" class="edit icon"><img src="/images/delete.png" class="delete icon"></span>
                            <input type="hidden" name="course{{ i }}" value="{{ course.upper() }}">
                        </h2>
                        <table align="center" border="0">
            {#            @TODO: add button#}
                            {% set btni=0 %}
                            {% for title in urls %}
                                <tr>
                                <td class="delete btn" align="right"><img src="/images/delete.png" class="icon"/></td>
                                <td class="title">{{ title }}<input type="hidden" name="btn{{ i }}-{{ btni }}" value="{{ title }}"></td>
                                <td align="left" class="url"><input name="btn_url{{ i }}-{{ btni }}" class="url" value="{{ urls[title] }}"/></td>
                                </tr>
                                {% set btni=1+btni %}
                            {% endfor %}
                            {% set i= 1+i %}
                                <tr>
                                <td class="add btn" align="right"><img src="/images/add.png" class="icon"/></td>
                                </tr>
                        </table>
                    </div>
                {% endfor %}
            {% endif %}
        </section>
        <div class="clear">
		    <button name="update" class="hvr-rectangle-out btn" type="submit" value="Submit">DONE!</button>
        </div>
	</form>

    <form name="upload" method="post" enctype="multipart/form-data">
        <section name="schedule-section">
            <h1 class="section-title">Schedule</h1>
            <div class="clear">
                <h3>Upload a screenshot of your schedule</h3>
                    <label for="imgInp" class="custom-file-upload btn">
                         Choose Image
                    </label>
                    <input type='file' name="scheduleImage" id="imgInp" accept="image/*"/>
                    {% if user.schedule %}
                        <img id="schedule" class="clear" src="/img?img_id={{ user.key.urlsafe() }}" alt="schedule screenshot" />
                    {% else %}
                        <img id="schedule" class="clear" type="hidden" src="#" alt="schedule screenshot"/>
                    {% endif %}
                    <button name="upload" class="hvr-rectangle-out" type="submit">UPLOAD</button>
            </div>
        </section>
    </form>





{#	{% else %}#}
{#        @TODO: modify courses setup and remove this section#}
{#	<form method="post">#}
{#		<ol>#}
{#			<li>Enter your courses here</li>#}
{#			<li>Separate by space</li>#}
{#			<li>Example: </li>#}
{#			<li class="code">CS125 MATH231</li>#}
{#			<li>Anything that can't be understood or doesn't follow the format will be ignored</li>#}
{#		</ol>#}
{#		<br>#}
{#		<textarea name="course-list" rows="15" cols="60" > Hello {{user.name}}!#}
{##}
{#		,d88b.d88b,#}
{#		88888888888#}
{#		`Y8888888Y'#}
{#		  `Y888Y'    - Angelica -#}
{#		    `Y'</textarea>#}
{#		<button name="setup" class="hvr-rectangle-out" type="submit" value="Submit">NEXT</button>#}
{#	</form>#}
{#	{% endif %}#}


    <script type="text/javascript" src="/js/settings.js"></script>



{% endblock %}
