{% extends 'base.html' %}
{% set default_info_list = ['Course Website','Homework','Calendar','Syllabus'] %}

{% block box %}

{#	{% if courses %}#}
	<form name="update" method="post">
        <section>
            <h1 class="section-title">Courses</h1>
            <div class="section-add hvr-rectangle-out btn" id="add-course">Add Course</div>
            {%  if not courses %}
                <table class="clear" align="center">
                    <tr>
                        <td><input type="hidden" name="new" value="0"></td>
                        <td class="title">Course ID</td>
                        <td align="left" class="url"><input name="course0" placeholder="e.g. CS125"></td>
                    </tr>
                    {% for i in range(4) %}
                        {% set title=default_info_list[i] %}
                        <tr>
                            <input type="hidden" name="bid0-{{ i }}" value="{{i}}">
                            <td class="delete btn" align="right"><img src="/images/delete.png" class="icon"/></td>
                            <td class="title">{{ title }}<input type="hidden" name="btn0-{{i}}" value="{{ title }}"></td>
                            <td align="left" class="url"><input class="url" name="btn_url0-{{ i }}"placeholder="{{ title + ' URL' }}" /></td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td class="add btn" align="right"><img src="/images/add.png" class="icon"/></td>
                        </tr>
                </table>
            {% endif %}
            {% for course in courses %}
                <div class="clear">
                    <h2>{{course.upper()}}<span class="right"><img src="/images/edit.png" class="icon"><img src="/images/delete.png" class="icon"></span></h2>
                    <table align="center" border="0">
                        <td><input type="hidden" name="new"></td>
        {#            @TODO: add button#}
                        {% for title in default_info_list %}
                            <tr>
                            <td class="delete btn" align="right"><img src="/images/delete.png" class="icon"/></td>
                            <td class="title">{{ title }}</td>
                            <td align="left" class="url"><input class="url" placeholder="{{ title + ' URL' }}"/></td>
                            </tr>
                        {% endfor %}
                            <tr>
                            <td class="add btn" align="right"><img src="/images/add.png" class="icon"/></td>
                            </tr>
                    </table>
                </div>
            {% endfor %}
        </section>
        <div class="clear">
		    <button name="update" class="hvr-rectangle-out btn" type="submit" value="Submit">DONE!</button>
        </div>
	</form>


{#	{% else %}#}
{#        @TODO: modify courses setup and remove this section#}
{#	<form method="post">#}
{#		<ol>#}
{#			<li>Enter your courses here</li>#}
{#			<li>Separate by space</li>#}
{#			<li>Example: </li>#}
{#			<li class="code">CS125 MATH231</li>#}
{#			<li>Anything that can't be understood or doesn't follow the format will be ignored</li>#}
{#		</ol>#}
{#		<br>#}
{#		<textarea name="course-list" rows="15" cols="60" > Hello {{user.name}}!#}
{##}
{#		,d88b.d88b,#}
{#		88888888888#}
{#		`Y8888888Y'#}
{#		  `Y888Y'    - Angelica -#}
{#		    `Y'</textarea>#}
{#		<button name="setup" class="hvr-rectangle-out" type="submit" value="Submit">NEXT</button>#}
{#	</form>#}
{#	{% endif %}#}


    <script type="text/javascript" src="/js/settings.js"></script>



{% endblock %}
